<header>
    <section class="branding">
        <h1>Hola mundo</h1>
    </section>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Menu4</a></li>
        </ul>
    </nav>
</header>