/* estilo.less */

/* Definición de variables */
@primary-color: #3f51b5;
@primary-text-color: #fff;
@secondary-color: #333;
@secondary-text-color: #fff;
@alternate-color: #ff5722;
@alternate-text-color: #fff;
@default-padding: 1rem;
@base-4: 1rem;
@base-2: (@base-4 / 2);

@breakResolutions: {
  tablet: 720px;
  desktop: 1025px;
  widescreen: 1300px;
  ultrawide: 1500px;
};

/* Importar otros archivos Less */
@import "mixins.less";
@import "layout.less";
@import "components.less";
