header{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
    }
    header.branding h1{
        margin: 0px;
    }
    header nav ul{
        display: flex;
        list-style: none;
        padding: 0px;
    }
    header nav ul li a{
        display: flex;
        padding: 0.5rem 0.8rem;
        color: var(--primary-text-color);
        text-decoration: none;    
    }
