.inline-block{
display: inline-block;
}
.m-4{
    margin: var(--base-4);
}

.m-2{
    margin: calc(var(--base-4)/2);    
}

.mx-4{
    margin: auto var(--base-4);
}

.mx-2{
    margin: auto calc(var(--base-4)/2);    
}
.my-4{
    margin-top: var(--base-4) auto;
}

.my-2{
    margin: calc(var(--base-4)/2) auto;    
}

.p-4{
    padding: var(--base-4);
}

.p-2{
    padding: calc(var(--base-4)/2);    
}